<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/timerSched.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
	<link rel="stylesheet" href="static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="static/css/style2.css"> <!-- Resource style -->
  	
	<title>Schedule Template | CodyHouse</title>
</head>
<body background="static/bgt135.png">
<div class="cd-schedule loading">
	<div class="timeline">
		<ul>
		
			    <li><span>08:30</span></li>
				<li><span>09:00</span></li>
				<li><span>09:30</span></li>
				<li><span>10:00</span></li>
				<li><span>10:30</span></li>
				<li><span>11:00</span></li>
				<li><span>11:30</span></li>
				<li><span>12:00</span></li>
				<li><span>12:30</span></li>
				<li><span>13:00</span></li>
				<li><span>13:30</span></li>
				<li><span>14:00</span></li>
				<li><span>14:30</span></li>
				<li><span>15:00</span></li>
				<li><span>15:30</span></li>
				<li><span>16:00</span></li>
				<li><span>16:30</span></li>
				<li><span>17:00</span></li>
				<li><span>17:30</span></li>
				<li><span>18:00</span></li>
				<li><span>18:30</span></li>
				<li><span>19:00</span></li>
				


		</ul>
	</div> <!-- .timeline -->
	<!--<div><img style="margin-left:6%" src="static/cabeçalho.png"></div>-->
	<div class="events">
		<ul>
			<li class="events-group">
                <div class="top-info"><span>Cidade das Mangueiras</span></div>
                <ul>
<li class="single-event"  data-start="08:30" data-end="09:00" data-content="registro" data-event="event-2">
						<a id="registro" href="#0">
							<p style="font-size:18px">Registro</p>
						</a>
					</li>
<li class="single-event"  data-start="09:00" data-end="12:00" data-content="CQEB1" data-event="event-3">
						<a id="CQEB1" href="#0">
							<em class="event-name">CQEB</em>
							<br></br>
							<p style="font-size:18px">Curso de Qualidade em Ensino de Computação na Educação Básica</p>
						</a>
					</li>
<li class="single-event" style="width: 201%; text-align: center;" data-start="12:00" data-end="14:00" data-content="almoco" data-event="event-2">
						<a id="almoco" href="#0">
							<em class="event-name" style="font-size:20pt;">Almoço</em>
							<p style="font-size:14px">Pausa para o almoço</p>
						</a>
					</li>
<li class="single-event"  data-start="14:00" data-end="16:00" data-content="WRNP02" data-event="event-3">
						<a id="WRNP2" href="#0">
							<em class="event-name">CQEB</em>
							<br></br>
							<p style="font-size:18px">Itinerário Formativo Computação (parte 1)</p>
						</a>
					</li>
<li class="single-event" style="width: 201%; text-align: center;"  data-start="16:00" data-end="16:30" data-content="CoffeBreak" data-event="event-2">
						<a id="CoffeBreak" href="#0">
							<p style="font-size:18px">Parada para o Coffee Break</p>
						</a>
					</li>
<li class="single-event"  data-start="16:30" data-end="19:00" data-content="WRNP03" data-event="event-3">
						<a id="WRNP3" href="#0">
							<em class="event-name">CQEB</em>
							<br></br>
							<p style="font-size:18px">Itinerário Formativo Computação (parte 2)</p>
							<br></br>
							<p style="font-size:18px">Discussão: Como inserir Computação nas escolas?</p>
						</a>
					</li>
			

</ul><li class="events-group">
				<div class="top-info"><span>Carimbó</span></div><ul>
<li class="single-event"  data-start="08:30" data-end="09:00" data-content="registro" data-event="event-2">
						<a id="registro" href="#0">
							<p style="font-size:18px">Registro</p>
						</a>
					</li>
<li class="single-event"  data-start="09:00" data-end="12:00" data-content="CQ1" data-event="event-3">
						<a id="CQ1" href="#0">
							<em class="event-name">CQ</em>
							<br></br>
							<p style="font-size:18px">20º Curso de Qualidade</p>
						</a>
					</li>
<!-- <li class="single-event"  data-start="12:00" data-end="14:00" data-content="almoco" data-event="event-2">
						<a id="almoco" href="#0">
							<p style="font-size:18px">Parada para o Almoço</p>
						</a>
					</li> -->
<li class="single-event"  data-start="14:00" data-end="16:00" data-content="CQ2" data-event="event-3">
						<a id="CQ2" href="#0">
							<em class="event-name">CQ</em>
							<br></br>
							<p style="font-size:18px">20º Curso de Qualidade</p>
						</a>
					</li>
<!--<li class="single-event"  data-start="16:00" data-end="16:30" data-content="CoffeBreak" data-event="event-2">
						<a id="CoffeBreak" href="#0">
							<p style="font-size:18px">Parada para o Coffee Break</p>
						</a>
					</li> -->
<li class="single-event"  data-start="16:30" data-end="19:00" data-content="CQ3" data-event="event-3">
						<a id="CQ3" href="#0">
							<em class="event-name">CQ</em>
							<br></br>
							<p style="font-size:18px">20º Curso de Qualidade</p>
						</a>
					</li>

</ul>
		</ul>
	</div>

	<div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
			</div>

			<div class="header-bg"></div>
		</header>

		<div class="body">
			<div class="event-info"></div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>

	<div class="cover-layer"></div>
</div> <!-- .cd-schedule -->
<script src="static/js/modernizr.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
	if( !window.jQuery ) document.write('<script src="static/js/jquery-3.0.0.min.js"><\/script>');
</script>
<script src="static/js/main.js"></script> <!-- Resource jQuery -->
<script>





function showMe(dateStart,index,startTime,showTime){


$(document).ready(function() {

	var toShow=document.querySelectorAll('[data-start="'+dateStart+'"]');


	$(document).ready(function() {
  setTimeout(function() {
		toShow[index].getElementsByTagName("a")[0].click();

  }, startTime*1000);
});

  setTimeout(function() {
    document.getElementsByClassName("close")[0].click();
  }, (startTime+showTime)*1000);
});
}


$(document).ready(function() {
var dateStart="09:00";
var size=document.querySelectorAll('[data-start="'+dateStart+'"]').length;
showMe(dateStart,0%size,3,14);
showMe(dateStart,1%size,16,13);
});

</script>
<h1><span style="font-size: 26px">Domingo</span><br>14/07</h1>

<div id="countdown">
	<svg style="width:40px;height:40px;transform:scale(0)">
	<circle r="18" cx="20" cy="20"></circle>
	</svg>
	</div>
</body>
</html>
