<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/timerSched.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
	<link rel="stylesheet" href="static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="static/css/style4.css"> <!-- Resource style -->
  	
	<title>Schedule Template | CodyHouse</title>
</head>
<body background="static/bgt2.png">
<div class="cd-schedule loading">
	<div class="timeline">
		<ul>
			<li><span>08:30</span></li>
			<li><span>09:00</span></li>
			<li><span>09:30</span></li>
			<li><span>10:00</span></li>
			<li><span>10:30</span></li>
			<li><span>11:00</span></li>
			<li><span>11:30</span></li>
			<li><span>12:00</span></li>
			<li><span>12:30</span></li>
			<li><span>13:00</span></li>
			<li><span>13:30</span></li>
			<li><span>14:00</span></li>
			<li><span>14:30</span></li>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
			<li><span>17:30</span></li>
			<li><span>18:00</span></li>


		</ul>
	</div> <!-- .timeline -->

	<div class="events">
		<ul>
			<li class="events-group">
				<div class="top-info"><span>Plátanos</span></div>

				<ul>
					<li class="single-event"  data-start="08:30" data-end="10:00" data-content="TB01" data-event="event-1">
						<a id="TB" href="#0">
							<em class="event-name">Keynote</em>
							<b>Theophilus Benson</b><br><p style="font-size:14px">A Data-driven Approach to Speeding Up the Internet</p>
						</a>
					</li>
                    <li class="single-event"  data-start="10:30" data-end="12:00" data-content="ST11" data-event="event-1">
							<a id=" Sessão técnica 12" href="#0">
								<em class="event-name"> Sessão técnica 12</em>
								<p style="font-size:14px">Sistemas Distribuídos e Gerenciamento de Identidades</p>
							</a>
						</li>


						<li class="single-event" data-start="14:00" data-end="16:00" data-content="ST15" data-event="event-1">
								<a id="ST2" href="#0">
									<em class="event-name">Sessão Técnica 15</em>
									<p>Computação na Nuvem</p>
								</a>
							</li>

					<li class="single-event"  data-start="16:30" data-end="18:30"  data-content="JS01" data-event="event-2">
						<a id="JS" href="#0">
							<em class="event-name">Keynote</em>
							<b>Justine Sherry</b><p style="font-size:14px ">Censo dos TCPs: Medidas de Heterogeneidade e Justiça na Internet Moderna</p>
						</a>
					</li>
					

				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Hortência</span></div>

				<ul>

						<li class="single-event" data-start="10:30" data-end="12:00" data-content="ST13" data-event="event-2">
								<a href="#0">
									<em class="event-name">Sessão Técnica 13</em>
									<p>IoT e Computação na Nuvem</p>
								</a>
							</li>


					<li class="single-event" data-start="14:00" data-end="16:00" data-content="ST16" data-event="event-2">
							<a href="#0">
								<em class="event-name">Sessão Técnica 16</em>
								<p>Segurança em IoT</p>
							</a>
						</li>


				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Bromélia</span></div>

				<ul>
	

				


				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Lírio</span></div>

				<ul>
					<li class="single-event" data-start="10:30" data-end="12:00" data-content="ST14" data-event="event-1">
						<a id="ST2" href="#0">
							<em class="event-name">Sessão Técnica 14</em>
							<p>Cidades Inteligentes e Big Data</p>
						</a>
					</li>

					<li class="single-event" data-start="14:00" data-end="16:00" data-content="ST17" data-event="event-4">
						<a href="#0">
							<em class="event-name">Sessão Técnica 17</em>
							<p>Virtualização de Funções de Rede</p>
						</a>
					</li>
				</ul>
			</li>

			<li class="events-group">
				<div class="top-info"><span>Orquídea</span></div>

				<ul>
					<li class="single-event" data-start="10:30" data-end="12:00" data-content="CTD_M01" data-event="event-3">
						<a href="#0">
							<em class="event-name">CTD - Mestrado</em>
							
						</a>
					</li>
					<li class="single-event" data-start="14:00" data-end="16:00" data-content="CTD_M02" data-event="event-3">
						<a href="#0">
							<em class="event-name">CTD - Mestrado</em>
							
						</a>
					</li>




				</ul>
			</li>
			<li class="events-group">
				<div class="top-info"><span>Araucárias</span></div>

				<ul>
					<li class="single-event"  data-start="08:30" data-end="10:00" data-content="SF_01" data-event="event-1">
						<a id="sf1" href="#0">
							<em class="event-name">Salão de Ferramentas</em>
							<p>???</p>
						</a>
					</li>

					<li class="single-event" data-start="10:30" data-end="12:00" data-content="SF_02" data-event="event-2">
						<a href="#0">
							<em class="event-name">Salão de Ferramentas</em>
							<p>???</p>
						</a>
					</li>

					<li class="single-event" data-start="14:00" data-end="16:00" data-content="SF_03" data-event="event-2">
						<a href="#0">
							<em class="event-name">Salão de Ferramentas</em>
							<p>???</p>
						</a>
					</li>

					<li class="single-event"  data-start="16:30" data-end="18:30"  data-content="SF_04" data-event="event-2">
						<a href="#0">
							<em class="event-name">Salão de Ferramentas</em>
							<p>???</p>
							</a>
					</li>

				</ul>
			</li>
		</ul>
	</div>

	<div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
			</div>

			<div class="header-bg"></div>
		</header>

		<div class="body">
			<div class="event-info"></div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>

	<div class="cover-layer"></div>
</div> <!-- .cd-schedule -->
<script src="static/js/modernizr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
	if( !window.jQuery ) document.write('<script src="static/js/jquery-3.0.0.min.js"><\/script>');
</script>
<script src="static/js/main.js"></script> <!-- Resource jQuery -->
<script>
	
function showMe(dateStart,index,startTime,showTime){


$(document).ready(function() {

	var toShow=document.querySelectorAll('[data-start="'+dateStart+'"]');


	$(document).ready(function() {
  setTimeout(function() {
		toShow[index].getElementsByTagName("a")[0].click();

  }, startTime*1000);
});

  setTimeout(function() {
    document.getElementsByClassName("close")[0].click();
  }, (startTime+showTime)*1000);
});
}
$(document).ready(function() {
var dateStart="10:30";
var size=document.querySelectorAll('[data-start="'+dateStart+'"]').length;
showMe(dateStart,0%size,1,9);
showMe(dateStart,1%size,11,9);
showMe(dateStart,2%size,21,9);
showMe(dateStart,3%size,31,9);
showMe(dateStart,4%size,41,9);
showMe(dateStart,5%size,51,8);

});
</script>
<h1><span style="font-size: 26px">Quarta</span><br>8/5</h1>

<div id="countdown">
	<svg style="width:40px;height:40px;transform:scale(3)">
	<circle r="18" cx="20" cy="20"></circle>
	</svg>
	</div>

</body>
</html>