<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/timerSched.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
	<link rel="stylesheet" href="static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="static/css/style6.css"> <!-- Resource style -->

	<title>Schedule Template | CodyHouse</title>
</head>

<body background="static/bgt2.png">
	<div class="cd-schedule loading">
		<div class="timeline">
			<ul>
				<li><span>08:30</span></li>
				<li><span>09:00</span></li>
				<li><span>09:30</span></li>
				<li><span>10:00</span></li>
				<li><span>10:30</span></li>
				<li><span>11:00</span></li>
				<li><span>11:30</span></li>
				<li><span>12:00</span></li>
				<li><span>12:30</span></li>
				<li><span>13:00</span></li>
				<li><span>13:30</span></li>
				<li><span>14:00</span></li>
				<li><span>14:30</span></li>
				<li><span>15:00</span></li>
				<li><span>15:30</span></li>
				<li><span>16:00</span></li>
				<li><span>16:30</span></li>
				<li><span>17:00</span></li>
				<li><span>17:30</span></li>
				<li><span>18:00</span></li>


			</ul>
		</div> <!-- .timeline -->

		<div class="events">
			<ul>
				<li class="events-group">
					<div class="top-info"><span>Plátanos
						</span></div>
					<ul>
						<li class="single-event" data-start="08:30" data-end="10:00" data-content="WSCDC01"
							data-event="event-1">
							<a id="WSCDC1" href="#0">
								<em class="event-name">WSCDC</em>
								<p style="font-size:14px">Workshop de Segurança Cibernética em Dispositivos Conectados
								</p>
							</a>
						</li>
						<li class="single-event" data-start="10:30" data-end="12:00" data-content="WSCDC02"
							data-event="event-1">
							<a id="WSCDC2" href="#0">
								<em class="event-name">WSCDC</em>
								<p style="font-size:14px">Workshop de Segurança Cibernética em Dispositivos Conectados
								</p>
							</a>
						</li>
						<li class="single-event" data-start="14:00" data-end="16:00" data-content="WSCDC03"
							data-event="event-1">
							<a id="WSCDC3" href="#0">
								<em class="event-name">WSCDC</em>
								<p style="font-size:14px">Workshop de Segurança Cibernética em Dispositivos Conectados
								</p>
							</a>
						</li>
						<li class="single-event" data-start="16:30" data-end="18:00" data-content="WSCDC04"
							data-event="event-1">
							<a id="WSCDC4" href="#0">
								<em class="event-name">WSCDC</em>
								<p style="font-size:14px">Workshop de Segurança Cibernética em Dispositivos Conectados
								</p>
							</a>
						</li>
					</ul>
				<li class="events-group">
					<div class="top-info"><span>Hortência
						</span></div>
					<ul>
						<li class="single-event" data-start="08:30" data-end="10:00" data-content="WGRS01"
							data-event="event-1">
							<a id="WGRS1" href="#0">
								<em class="event-name">WGRS</em>
								<p style="font-size:14px">Workshop de Gerência e Operação de Redes e Serviços</p>
							</a>
						</li>
						<li class="single-event" data-start="10:30" data-end="12:00" data-content="WGRS02"
							data-event="event-1">
							<a id="WGRS2" href="#0">
								<em class="event-name">WGRS</em>
								<p style="font-size:14px">Workshop de Gerência e Operação de Redes e Serviços</p>
							</a>
						</li>
						<li class="single-event" data-start="14:00" data-end="16:00" data-content="WGRS03"
							data-event="event-1">
							<a id="WGRS3" href="#0">
								<em class="event-name">WGRS</em>
								<p style="font-size:14px">Workshop de Gerência e Operação de Redes e Serviços</p>
							</a>
						</li>
						<li class="single-event" data-start="16:30" data-end="18:00" data-content="WGRS04"
							data-event="event-1">
							<a id="WGRS4" href="#0">
								<em class="event-name">WGRS</em>
								<p style="font-size:14px">Workshop de Gerência e Operação de Redes e Serviços</p>
							</a>
						</li>
					</ul>
				<li class="events-group">
					<div class="top-info"><span>Orquídea
						</span></div>
					<ul>
						<li class="single-event" data-start="08:30" data-end="10:00" data-content="IIWTG01"
							data-event="event-1">
							<a id="II WTG1" href="#0">
								<em class="event-name">II WTG</em>
								<p style="font-size:14px">Workshop de Trabalhos de Iniciação Científica e de Graduação
								</p>
							</a>
						</li>
						<li class="single-event" data-start="10:30" data-end="12:00" data-content="IIWTG02"
							data-event="event-1">
							<a id="II WTG2" href="#0">
								<em class="event-name">II WTG</em>
								<p style="font-size:14px">Workshop de Trabalhos de Iniciação Científica e de Graduação
								</p>
							</a>
						</li>
						<li class="single-event" data-start="14:00" data-end="16:00" data-content="IIWTG03"
							data-event="event-1">
							<a id="II WTG3" href="#0">
								<em class="event-name">II WTG</em>
								<p style="font-size:14px">Workshop de Trabalhos de Iniciação Científica e de Graduação
								</p>
							</a>
						</li>
						<li class="single-event" data-start="16:30" data-end="18:00" data-content="IIWTG04"
							data-event="event-1">
							<a id="II WTG4" href="#0">
								<em class="event-name">II WTG</em>
								<p style="font-size:14px">Workshop de Trabalhos de Iniciação Científica e de Graduação
								</p>
							</a>
						</li>
					</ul>
				<li class="events-group">
					<div class="top-info"><span>Lírio
						</span></div>
					<ul>
						<li class="single-event" data-start="08:30" data-end="10:00" data-content="WPEIF01"
							data-event="event-1">
							<a id="WPEIF1" href="#0">
								<em class="event-name">WPEIF</em>
								<p style="font-size:14px">Workshop de Pesquisa Experimental da Internet do Futuro</p>
							</a>
						</li>
						<li class="single-event" data-start="10:30" data-end="12:00" data-content="WPEIF02"
							data-event="event-1">
							<a id="WPEIF2" href="#0">
								<em class="event-name">WPEIF</em>
								<p style="font-size:14px">Workshop de Pesquisa Experimental da Internet do Futuro</p>
							</a>
						</li>
						<li class="single-event" data-start="14:00" data-end="16:00" data-content="IIWPEIF01"
							data-event="event-1">
							<a id="WPEIF3" href="#0">
								<em class="event-name">WPEIF</em>
								<p style="font-size:14px">Workshop de Pesquisa Experimental da Internet do Futuro</p>
							</a>
						</li>
						<li class="single-event" data-start="16:30" data-end="18:00" data-content="IIWPEIF02"
							data-event="event-1">
							<a id="WPEIF4" href="#0">
								<em class="event-name">WPEIF</em>
								<p style="font-size:14px">Workshop de Pesquisa Experimental da Internet do Futuro</p>
							</a>
						</li>
					</ul>
				<li class="events-group">
					<div class="top-info"><span>Margarida
						</span></div>
					<ul>
						<li class="single-event" data-start="08:30" data-end="10:00" data-content="Minicurso4"
							data-event="event-1">
							<a id="Minicurso 4" href="#0">
								<em class="event-name">Minicurso 4</em>
								<p style="font-size:14px">Análise de Dados em Redes Sem Fio de Grande Porte:
									Processamento em Fluxo em Tempo Real, Tendências e Desafios
								</p>
							</a>
						</li>
						<li class="single-event" data-start="10:30" data-end="12:00" data-content=" Minicurso4"
							data-event="event-1">
							<a id=" Minicurso 4" href="#0">
								<em class="event-name"> Minicurso 4</em>
								<p style="font-size:14px">Análise de Dados em Redes Sem Fio de Grande Porte:
									Processamento em Fluxo em Tempo Real, Tendências e Desafios
								</p>
							</a>
						</li>
						<li class="single-event" data-start="14:00" data-end="16:00" data-content=" Minicurso6"
							data-event="event-1">
							<a id=" Minicurso 6" href="#0">
								<em class="event-name"> Minicurso 6</em>
								<p style="font-size:14px">Introdução à Ciência de Dados: Uma Visão Pragmática utilizando
									Python, Aplicações e Oportunidades em Redes de Computadores</p>
							</a>
						</li>
						<li class="single-event" data-start="16:30" data-end="18:00" data-content=" Minicurso6"
							data-event="event-1">
							<a id=" Minicurso 6" href="#0">
								<em class="event-name"> Minicurso 6</em>
								<p style="font-size:14px">Introdução à Ciência de Dados: Uma Visão Pragmática utilizando
									Python, Aplicações e Oportunidades em Redes de Computadores</p>
							</a>
						</li>
					</ul>
				<li class="events-group">
					<div class="top-info"><span>Gérbera
						</span></div>
					<ul>
						<li class="single-event" data-start="08:30" data-end="10:00" data-content="Minicurso3"
							data-event="event-1">
							<a id="Minicurso 3" href="#0">
								<em class="event-name">Minicurso 3</em>
								<p style="font-size:14px">Processamento Rápido de Pacotes com eBPF e XDP</p>
							</a>
						</li>
						<li class="single-event" data-start="10:30" data-end="12:00" data-content=" Minicurso3"
							data-event="event-1">
							<a id=" Minicurso 3" href="#0">
								<em class="event-name"> Minicurso 3</em>
								<p style="font-size:14px">Processamento Rápido de Pacotes com eBPF e XDP</p>
							</a>
						</li>
						<li class="single-event" data-start="14:00" data-end="16:00" data-content=" Minicurso5"
							data-event="event-1">
							<a id=" Minicurso 5" href="#0">
								<em class="event-name"> Minicurso 5</em>
								<p style="font-size:14px">Introdução à criptografia para administradores de sistemas com
									TLS, OpenSSL e Apache mod_ssl</p>
							</a>
						</li>
						<li class="single-event" data-start="16:30" data-end="18:00" data-content=" Minicurso5"
							data-event="event-1">
							<a id=" Minicurso 5" href="#0">
								<em class="event-name"> Minicurso 5</em>
								<p style="font-size:14px">Introdução à criptografia para administradores de sistemas com
									TLS, OpenSSL e Apache mod_ssl</p>
							</a>
						</li>

					</ul>
				</li>
			</ul>
		</div>

		<div class="event-modal">
			<header class="header">
				<div class="content">
					<span class="event-date"></span>
					<h3 class="event-name"></h3>
				</div>

				<div class="header-bg"></div>
			</header>

			<div class="body">
				<div class="event-info"></div>
				<div class="body-bg"></div>
			</div>

			<a href="#0" class="close">Close</a>
		</div>

		<div class="cover-layer"></div>
	</div> <!-- .cd-schedule -->
	<script src="static/js/modernizr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script>
		if (!window.jQuery) document.write('<script src="static/js/jquery-3.0.0.min.js"><\/script>');
	</script>
	<script src="static/js/main.js"></script> <!-- Resource jQuery -->
	<script>

function showMe(dateStart,index,startTime,showTime){


$(document).ready(function() {

	var toShow=document.querySelectorAll('[data-start="'+dateStart+'"]');
	if(toShow[index]==undefined){
		throw 'kys';
	}

	$(document).ready(function() {
  setTimeout(function() {
		toShow[index].getElementsByTagName("a")[0].click();

  }, startTime*1000);
});

  setTimeout(function() {
    document.getElementsByClassName("close")[0].click();
  }, (startTime+showTime)*1000);
});
}
$(document).ready(function() {
var dateStart="10:30";
var size=document.querySelectorAll('[data-start="'+dateStart+'"]').length;
showMe(dateStart,0%size,1,3);
showMe(dateStart,1%size,6,3);
showMe(dateStart,2%size,11,3);
showMe(dateStart,3%size,16,3);
showMe(dateStart,4%size,21,3);
showMe(dateStart,5%size,26,3);
showMe(dateStart,0%size,31,3);
showMe(dateStart,1%size,36,3);
showMe(dateStart,2%size,41,3);
showMe(dateStart,3%size,46,3);
showMe(dateStart,4%size,51,3);
showMe(dateStart,5%size,56,3);

});

	</script>
<h1><span style="font-size: 26px">Sexta</span><br>10/5</h1>

<div id="countdown">
	<svg style="width:40px;height:40px;transform:scale(3)">
	<circle r="18" cx="20" cy="20"></circle>
	</svg>
	</div>
</body>

</html>