<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/timerSched.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
	<link rel="stylesheet" href="static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="static/css/style53.css"> <!-- Resource style -->

	<title>Schedule Template | CodyHouse</title>
</head>

<body background="static/background2.png">
	<div class="cd-schedule loading">
		<div class="timeline">
			<ul>
				
				<li><span>09:00</span></li>
				<li><span>09:30</span></li>
				<li><span>10:00</span></li>
				<li><span>10:30</span></li>
				<li><span>11:00</span></li>
				<li><span>11:30</span></li>
				<li><span>12:00</span></li>
				<li><span>12:30</span></li>
				<li><span>13:00</span></li>
				<li><span>13:30</span></li>
				<li><span>14:00</span></li>
				<li><span>14:30</span></li>
				<li><span>15:00</span></li>
				<li><span>15:30</span></li>
				<li><span>16:00</span></li>
				<li><span>16:30</span></li>
				<li><span>17:00</span></li>
				<li><span>17:30</span></li>
				<li><span>18:00</span></li>
				<li><span>18:30</span></li>
				<li><span>19:00</span></li>
				<li><span>19:30</span></li>
				<li><span>20:00</span></li>
				<li><span>20:30</span></li>
				<li><span>21:00</span></li>

			</ul>
		</div> <!-- .timeline -->
		
		<div class="events">
			<ul>
				<li class="events-group">
					<div class="top-info"><span>Cupuaçu</span></div>
					<ul>
						<li class="single-event" data-start="09:00" data-end="12:00" data-content="JAI1"
							data-event="event-3">
							<a id="JAI1" href="#0">
								<em class="event-name"> JAI #1</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						<li class="single-event" style="width: 1126%; text-align: center;" data-start="12:00" data-start="12:00" data-end="14:00" data-content="almoco"
							data-event="event-2">
							<a id="almoco" href="#0">
								<em class="event-name">Almoço</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						<li class="single-event" style="width: 1126%; text-align: center;" data-start="14:00"  data-end="16:00" data-content="SECOMU_segunda"
							data-event="event-3" class="secomu">
							<a id="SECOMU_segunda" href="#0">
								<em class="event-name">SECOMU</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						<li class="single-event" style="width: 1126%; text-align: center;" data-start="16:00" data-end="16:30" data-content="CoffeeBreak"
							data-event="event-2">
							<a id="CoffeeBreak" href="#0">
								<em class="event-name">Coffee Break</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						<li class="single-event" data-start="16:30" data-end="19:00" data-content="JAI1"
							data-event="event-3">
							<a id="JAI1" href="#0">
								<em class="event-name"> JAI #1</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						<li class="single-event" style="width: 1126%; text-align: center;" data-start="19:00" data-end="20:00" data-content="intervalo"
							data-event="event-2">
							<a id="intervalo" href="#0">
								<em class="event-name">Intervalo</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						<li class="single-event" style="width: 1126%; text-align: center;" data-start="20:00" data-end="21:00" data-content="abertura"
							data-event="event-3">
							<a id="abertura" href="#0">
								<em class="event-name">Abertura</em>
								<p style="font-size:14px"></p>
							</a>
						</li>

					</ul>
				<li class="events-group">
					<div class="top-info"><span>Círio</span></div>
					<ul>

						<li class="single-event" data-start="09:00" data-end="10:30" data-content="WEI_ST1"
							data-event="event-3">
							<a id="WEI_ST1" href="#0">
								<em class="event-name">WEI</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						<li class="single-event" data-start="10:30" data-end="12:00" data-content="WEI_painel1"
							data-event="event-3">
							<a id="WEI_painel1" href="#0">
								<em class="event-name">WEI</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						
						
						<li class="single-event" data-start="16:30" data-end="18:00" data-content="WEI_ST2"
							data-event="event-3">
							<a id="WEI_ST2" href="#0">
								<em class="event-name">WEI</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						<li class="single-event" data-start="18:00" data-end="19:00" data-content="WEI_ST3"
							data-event="event-3">
							<a id="WEI_ST3" href="#0">
								<em class="event-name">WEI</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						

					</ul>

				<li class="events-group">
					<div class="top-info"><span>Castanha do Pará</span></div>
					<ul>
						<li class="single-event" data-start="09:00" data-end="12:00" data-content="CTD_sessao1"
							data-event="event-3">
							<a id="CTD_sessao1" href="#0">
								<em class="event-name">CTD</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						
						
						<li class="single-event" data-start="16:30" data-end="19:00" data-content="CTD_sessao2"
							data-event="event-3">
							<a id="CTD_sessao2" href="#0">
								<em class="event-name">CTD</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						

					</ul>

				<li class="events-group">
					<div class="top-info"><span>Marajó 01</span></div>
					<ul>
						<li class="single-event" data-start="09:00" data-end="12:00" data-content="WIT_1"
							data-event="event-3">
							<a id="WIT_1" href="#0">
								<em class="event-name">WIT</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						
						
						<li class="single-event" data-start="16:30" data-end="19:00" data-content="WIT_2"
							data-event="event-3">
							<a id="WIT_2" href="#0">
								<em class="event-name">WIT</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						

					</ul>

				<li class="events-group">
					<div class="top-info"><span>Cidades das Mangueiras</span></div>
					<ul>
						<li class="single-event" data-start="09:00" data-end="12:00" data-content="SEMISH_1"
							data-event="event-3">
							<a id="SEMISH_1" href="#0">
								<em class="event-name">SEMISH</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						
						
						<li class="single-event" data-start="16:30" data-end="19:00" data-content="SEMISH_2"
							data-event="event-3">
							<a id="SEMISH_2" href="#0">
								<em class="event-name">SEMISH</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						


					</ul>

				<li class="events-group">
					<div class="top-info"><span>Carimbó</span></div>
					<ul>
						<li class="single-event" data-start="09:00" data-end="12:00" data-content="SEMISH_HACKATHON"
							data-event="event-3">
							<a id="SEMISH_HACKATHON" href="#0">
								<em class="event-name">SEMISH hackathon</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						
						
						<li class="single-event" data-start="16:30" data-end="19:00" data-content="SEMISH_HACKATHON"
							data-event="event-3">
							<a id="SEMISH_HACKATHON" href="#0">
								<em class="event-name">SEMISH hackathon</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						




					</ul>


				<li class="events-group">
					<div class="top-info"><span>Filhote</span></div>
					<ul>
						<li class="single-event" data-start="09:00" data-end="12:00" data-content="WPerformance_1"
							data-event="event-3">
							<a id="WPerformance_1" href="#0">
								<em class="event-name">WPerformance</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						
						
						<li class="single-event" data-start="16:30" data-end="19:00" data-content="WPerformance_2"
							data-event="event-3">
							<a id="WPerformance_2" href="#0">
								<em class="event-name">WPerformance</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						


					</ul>
				<li class="events-group">
					<div class="top-info"><span>Maniçoba</span></div>
					<ul>
						<li class="single-event" data-start="09:00" data-end="12:00" data-content="WTranS_1"
							data-event="event-3">
							<a id="WTranS_1" href="#0">
								<em class="event-name">WTRANS</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						
						
						<li class="single-event" data-start="16:30" data-end="19:00" data-content="WTranS_2"
							data-event="event-3">
							<a id="WTranS_2" href="#0">
								<em class="event-name">WTRANS</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						


					</ul>

				<li class="events-group">
					<div class="top-info"><span>Muruci</span></div>
					<ul>
						<li class="single-event" data-start="09:00" data-end="12:00" data-content="ETC_1"
							data-event="event-3">
							<a id="ETC_1" href="#0">
								<em class="event-name">ETC</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						
						
						<li class="single-event" data-start="16:30" data-end="19:00" data-content="ETC_2"
							data-event="event-3">
							<a id="ETC_2" href="#0">
								<em class="event-name">ETC</em>
								<p style="font-size:14px"></p>
							</a>
						</li>
						


					</ul>

				<li class="events-group">
					<div class="top-info"><span>Marajó 02</span></div>
					<ul>
						<li class="single-event" data-start="09:00" data-end="12:00" data-content="WCN_cloudscape"
							data-event="event-3">
							<a id="WCN_cloudscape" href="#0">
								<em class="event-name">WCN</em>
								<p style="font-size:14px"> </p>
							</a>
						</li>
						
						
						<li class="single-event" data-start="16:30" data-end="19:00" data-content="WCN_cloudscape"
							data-event="event-3">
							<a id="WCN_cloudscape" href="#0">
								<em class="event-name">WCN</em>
								<p style="font-size:14px"> </p>
							</a>
						</li>
						


					</ul>


				<li class="events-group">
					<div class="top-info"><span>Açaí</span></div>
					<ul>
						<li class="single-event" data-start="09:00" data-end="12:00" data-content="Forum_PG"
							data-event="event-3">
							<a id="Forum_PG" href="#0">
								<em class="event-name">Fórum PG</em>
								<p style="font-size:14px"> </p>
							</a>
						</li>
						
						
						<li class="single-event" data-start="16:30" data-end="19:00" data-content="Forum_PG"
							data-event="event-3">
							<a id="Forum_PG" href="#0">
								<em class="event-name">Fórum PG</em>
								<p style="font-size:14px"> </p>
							</a>
						</li>
						


					</ul>
			</ul>
			</li>
			</ul>
		</div>

		<div class="event-modal">
			<header class="header">
				<div class="content">
					<span class="event-date"></span>
					<h3 class="event-name"></h3>
				</div>

				<div class="header-bg"></div>
			</header>

			<div class="body">
				<div class="event-info"></div>
				<div class="body-bg"></div>
			</div>

			<a href="#0" class="close">Close</a>
		</div>

		<div class="cover-layer"></div>
	</div> <!-- .cd-schedule -->
	<script src="static/js/modernizr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script>
		if (!window.jQuery) document.write('<script src="static/js/jquery-3.0.0.min.js"><\/script>');
	</script>
	<script src="static/js/main.js"></script> <!-- Resource jQuery -->
	<script>

		function showMe(dateStart, index, startTime, showTime) {


			$(document).ready(function () {

				var toShow = document.querySelectorAll('[data-start="' + dateStart + '"]');


				$(document).ready(function () {
					setTimeout(function () {
						toShow[index].getElementsByTagName("a")[0].click();

					}, startTime * 1000);
				});

				setTimeout(function () {
					document.getElementsByClassName("close")[0].click();
				}, (startTime + showTime) * 1000);
			});
		}


		$(document).ready(function () {
			var dateStart = "09:00";
			var size = document.querySelectorAll('[data-start="' + dateStart + '"]').length;
			showMe(dateStart,0%size,1,5);
			showMe(dateStart,1%size,7,5);
			showMe(dateStart,2%size,13,5);
			showMe(dateStart,3%size,19,5);
			showMe(dateStart,4%size,25,5);
			showMe(dateStart,5%size,31,5);
			showMe(dateStart,6%size,37,5);
			showMe(dateStart,7%size,43,5);
			showMe(dateStart,8%size,49,5);
			showMe(dateStart,9%size,55,5);
			showMe(dateStart,10%size,61,5);
			
		});
	</script>
	<h1><span style="font-size: 26px">Segunda</span><br>15/07</h1>

	<div id="countdown">
		<svg style="width:40px;height:40px;transform:scale(0)">
			<circle r="18" cx="20" cy="20"></circle>
		</svg>
	</div>
</body>

</html>